{
  "swagger": "2.0",
  "info": {
    "title": "Orchdio",
    "description": "OpenAPI spec for the Orchdio API",
    "version": "1.0.0"
  },
  "host": "api.orchdio.dev",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/track/convert": {
      "get": {
        "description": "Returns the converted track",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
            "200": {
                "description": "Successful response",
                "schema": {
                "$ref": "#/definitions/TrackConversionResponse"
                }
            },
            "400": {
                "description": "Bad request. This response implies that the wrong parameters were passed for the conversion, most likely the wrong platform",
                "schema": {
                "$ref": "#/definitions/ErrorResponse"
                }
            }
        }
      },
      "parameters": [
        {
          "name": "link",
            "in": "query",
            "description": "The link to the track to convert",
            "required": true,
            "type": "string"
        }
      ]
    },
    "/api/v1/playlist/convert": {
      "post": {
        "description": "Converts a playlist. When you call this endpoint, you'll get a task_id back in the response and you need to call another endpoint to get the task status and data when it's done",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlaylistResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "link",
          "in": "query",
          "description": "The link to the track to convert",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/playlist/task": {
      "get": {
        "description": "Returns the status of a playlist conversion task",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "description": "The task id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlaylistConversionTaskResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/webhook/add": {
      "parameters": [{
        "name": "url",
        "description": "The URL to the webhook",
        "in": "body",
        "schema": {
            "$ref": "#/definitions/AddWebhookBody"
        }
      }],
      "post": {
        "description": "Adds a webhook",
        "consumes": [
          "application/json",
          "Content-Type: application/json",
          "x-orchdio-key"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-orchdio-key",
            "in": "header",
            "description": "The orchdio key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AddWebhookResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/UnAuthorizedResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectPlatformResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "The URL to redirect the user to",
              "example": "https://accounts.spotify.com/authorize?client_id=8d367c0bbfe142d494bcbf1cf2e30f06&redirect_uri=https%3A%2F%2Fstudents-well-operators-steering.trycloudflare.com%2Fapi%2Fv1%2Fspotify%2Fauth&response_type=code&scope=user-read-private+user-library-read+user-read-email&state=274282a8-1da5-11ed-9ecb-e6171390459d"
            }
          }
        },
        "message": {
          "type": "string",
          "example": "Request Ok",
          "description": "This is an accompanying message to the response"
        },
        "status": {
          "type": "integer",
          "example": 200,
          "description": "This is the status of the response. Its the same as the HTTP status"
        }
      },
      "example": {
        "data": {
          "url": "https://accounts.spotify.com/authorize?client_id=8d367c0bbfe142d494bcbf1cf2e30f06&redirect_uri=https%3A%2F%2Fstudents-well-operators-steering.trycloudflare.com%2Fapi%2Fv1%2Fspotify%2Fauth&response_type=code&scope=user-read-private+user-library-read+user-read-email&state=274282a8-1da5-11ed-9ecb-e6171390459d"
        },
        "message": "Request Ok",
        "status": 200
      }
    },
    "PlaylistConversionTaskResponse": {
      "type": "object",
      "properties": {
        "entity": {
          "type": "string",
          "description": "The entity of the task. Entity is the type of thing you're trying to do — if you want to convert a playlist, the entity is playlist. There are 2 entities: playlist and track",
            "example": "playlist",
            "enum": [
              "playlist",
              "track"
            ],
            "default": "track"
        },
        "meta": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "The URL to the playlist",
              "example": "https://open.spotify.com/playlist/37i9dQZF1DXcBWIGoYBM5M?si=6e8e9f9f1f5a4b7f"
            },
            "length": {
              "type": "string",
              "description": "The length of the playlist. This is returned in formatted time in hh:mm:ss / mm:ss. ⚠️ This may change in the future",
              "example": "06:42:32"
            },
            "title": {
                "type": "string",
                "description": "The title of the playlist",
                "example": "The Best of 2020"
                },
            "omitted_tracks": {
                "type": "array",
                "description": "An array of tracks that were omitted from the playlist, often because they could not be found on other platforms",
                "example": [
                  {
                    "title": "The Box",
                    "artist": "Roddy Ricch",
                    "url": "https://open.spotify.com/track/0nbXyq5TXYPCO7pr3N8S4I?si=6e8e9f9f1f5a4b7f"
                  }
                ]
            },
            "owner": {
              "type": "string",
              "description": "The owner of the playlist",
              "example": "Amakamoney"
            },
            "cover": {
              "type": "string",
              "description": "The cover of the playlist",
              "example": "https://i.scdn.co/image/ab67706f00000003a6f8b1b2f1f8b1b2f1f8b1b2"
            }
          }
        },
        "platforms": {
          "type": "object",
          "description": "An object of platforms that the playlist has been converted to.",
          "properties": {
            "deezer": {
              "description": "An array of object containing Track results from Deezer",
              "type": "array",
                "items": {
                    "$ref": "#/definitions/TrackObject"
                }
            },
            "apple_music": {
              "description": "An array of object containing Track results from Apple Music. If the playlist is not available on Apple Music, this will be an empty array",
              "type": "array",
                "items": {
                    "$ref": "#/definitions/TrackObject"
                }
            },
            "spotify": {
              "description": "An array of object containing Track results from Spotify. If the playlist could not be converted, this will not be returned",
              "type": "array",
                "items": {
                    "$ref": "#/definitions/TrackObject"
                }
            },
            "tidal": {
              "description": "An array of object containing Track results from Tidal. If the playlist is not available on Tidal, this will be an empty array",
              "type": "array",
                "items": {
                    "$ref": "#/definitions/TrackObject"
                }
            }
          }
        }
      }
    },
    "PlaylistResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "Request Ok",
          "description": "This is an accompanying message to the response"
        },
        "status": {
          "type": "integer",
          "example": 200,
          "description": "This is the status of the response. Its the same as the HTTP status"
        },
        "data": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "example": "pending",
              "description": "The status of the task. Can be pending, processing, completed or failed."
            },
            "data": {
              "type": "object",
              "description": "The result from the playlist conversion. If the status of the playlist task is pending, this will be null"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "Request Ok",
          "description": "This is an accompanying message to the error response"
        },
        "status": {
          "type": "integer",
          "example": 500,
          "description": "This is the status of the response"
        },
        "error": {
          "type": "string",
          "example": "Internal Server Error",
          "description": "This is the error message"
        }
      }
    },
    "UnAuthorizedResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "Request Ok",
          "description": "This is an accompanying message to the error response"
        },
        "status": {
          "type": "integer",
          "example": 401,
          "description": "This is the status of the response"
        },
        "error": {
          "type": "string",
          "example": "Unauthorized",
          "description": "This is the error message"
        }
      }
    },
    "TrackConversionResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "entity": {
              "type": "string",
              "enum": ["track", "playlist"],
              "description": "The type of entity that the track is"
            },
            "platforms": {
              "type": "object",
              "properties": {
                "deezer": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL to the track on Deezer"
                    },
                    "artistes": {
                      "type": "array",
                      "description": "The artists that are on the track",
                      "items": [{
                        "type": "string",
                        "description": "The name of the artist",
                        "example": "Daft Punk"
                      }
                      ]
                    },
                    "released": {
                      "type": "string",
                      "description": "The date the track was released",
                      "example": "2018-01-01"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track",
                      "example": "00:00:00"
                    },
                    "explicit": {
                      "type": "boolean",
                      "description": "Whether the track is explicit or not",
                      "example": true
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the track",
                      "example": "Daft Punk"
                    },
                    "preview": {
                      "type": "string",
                      "description": "The URL to the preview of the track",
                      "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    },
                    "album": {
                      "type": "string",
                      "description": "The album the track is on",
                      "example": "Daft Punk"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the track",
                      "example": "dQw4w9WgXcQ"
                    },
                    "cover": {
                      "type": "string",
                      "description": "The URL to the cover of the track",
                      "example": "https://i.scdn.co/image/ab67616d0000b273d8f8f8f8f8f8f8f8f8f8f8f8f8"
                    }
                  }
                },
                "spotify": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL to the track on Spotify"
                    },
                    "artistes": {
                      "type": "array",
                      "description": "The artists that are on the track",
                      "items": [{
                        "type": "string",
                        "description": "The name of the artist",
                        "example": "Daft Punk"
                      }
                      ]
                    },
                    "released": {
                      "type": "string",
                      "description": "The date the track was released",
                      "example": "2018-01-01"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track",
                      "example": "00:00:00"
                    },
                    "explicit": {
                      "type": "boolean",
                      "description": "Whether the track is explicit or not",
                      "example": true
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the track",
                      "example": "Daft Punk"
                    },
                    "preview": {
                      "type": "string",
                      "description": "The URL to the preview of the track",
                      "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    },
                    "album": {
                      "type": "string",
                      "description": "The album the track is on",
                      "example": "Daft Punk"
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the track",
                      "example": "dQw4w9WgXcQ"
                    },
                    "cover": {
                      "type": "string",
                      "description": "The URL to the cover of the track",
                      "example": "https://i.scdn.co/image/ab67616d0000b273d8f8f8f8f8f8f8f8f8f8f8f8f8"
                    }
                  }
                },
                "tidal": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL to the track on Tidal"
                    },
                    "artistes": {
                      "type": "array",
                      "description": "The artists that are on the track",
                      "items": [{
                        "type": "string",
                        "description": "The name of the artist",
                        "example": "Daft Punk"
                      }
                      ]
                    },
                    "released": {
                        "type": "string",
                        "description": "The date the track was released",
                        "example": "2018-01-01"
                    },
                    "duration": {
                        "type": "string",
                        "description": "The duration of the track",
                        "example": "00:00:00"
                    },
                    "explicit": {
                        "type": "boolean",
                        "description": "Whether the track is explicit or not",
                        "example": true
                    },
                    "title": {
                        "type": "string",
                        "description": "The title of the track",
                        "example": "Daft Punk"
                    },
                    "preview": {
                        "type": "string",
                        "description": "The URL to the preview of the track",
                        "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    },
                    "album": {
                        "type": "string",
                        "description": "The album the track is on",
                        "example": "Daft Punk"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the track",
                        "example": "dQw4w9WgXcQ"
                    },
                    "cover": {
                        "type": "string",
                        "description": "The URL to the cover of the track",
                        "example": "https://i.scdn.co/image/ab67616d0000b273d8f8f8f8f8f8f8f8f8f8f8f8f8"
                    }
                  }
                }
              }
            }
          }
        },
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The track was successfully added to the playlist"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      },
      "example": {
        "url": "https://api.spotify.com/v1/playlists/1/tracks",
        "title": "Daft Punk",
        "artistes": [
          "Daft Punk"
        ]
      }
    },
    "PlaylistConversionResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "description": "The URL to the playlist",
              "example": "https://www.youtube.com/playlist?list=PL_dQw4w9WgXcQ"
            },
            "tracks": {
              "type": "object",
              "description": "The tracks in the playlist",
              "properties": {
                "deezer": {
                  "type": "array",
                  "$ref": "#/definitions/TrackObject"
                },
                "spotify": {
                  "type": "array",
                  "$ref": "#/definitions/TrackObject"
                },
                "tidal": {
                  "type": "array",
                  "$ref": "#/definitions/TrackObject"
                }
              }
            },
            "length": {
              "type": "string",
              "description": "The length of the playlist",
              "example": "00:00:00"
            },
            "title": {
              "type": "string",
              "description": "The title of the playlist",
              "example": "Daft Punk"
            },
            "omitted_tracks": {
              "type": "object",
              "description": "The tracks that were omitted from the playlist",
              "properties": {
                "deezer": {
                  "type": "array",
                  "$ref": "#/definitions/TrackConversionResponse"
                },
                "spotify": {
                  "type": "array",
                  "$ref": "#/definitions/TrackConversionResponse"
                },
                "tidal": {
                  "type": "array",
                  "$ref": "#/definitions/TrackConversionResponse"
                }
              }
            },
            "owner": {
              "type": "string",
              "description": "The owner of the playlist",
              "example": "Daft Punk"
            },
            "cover": {
              "type": "string",
              "description": "The URL to the cover of the playlist",
              "example": "https://i.scdn.co/image/ab67616d0000b273d8f8f8f8f8f8f8f8f8f8f8f8f8"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The playlist was successfully converted"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      }
    },
    "TrackObject": {
      "type": "object",
      "description": "Represents a single track object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to the track on Deezer"
        },
        "artistes": {
          "type": "array",
          "description": "The artists that are on the track",
          "items": [{
            "type": "string",
            "description": "The name of the artist",
            "example": "Daft Punk"
          }
          ]
        },
        "released": {
          "type": "string",
          "description": "The date the track was released",
          "example": "2018-01-01"
        },
        "duration": {
          "type": "string",
          "description": "The duration of the track",
          "example": "00:00:00"
        },
        "explicit": {
          "type": "boolean",
          "description": "Whether the track is explicit or not",
          "example": true
        },
        "title": {
          "type": "string",
          "description": "The title of the track",
          "example": "Daft Punk"
        },
        "preview": {
          "type": "string",
          "description": "The URL to the preview of the track",
          "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        },
        "album": {
          "type": "string",
          "description": "The album the track is on",
          "example": "Daft Punk"
        },
        "id": {
          "type": "string",
          "description": "The ID of the track",
          "example": "dQw4w9WgXcQ"
        },
        "cover": {
          "type": "string",
          "description": "The URL to the cover of the track",
          "example": "https://i.scdn.co/image/ab67616d0000b273d8f8f8f8f8f8f8f8f8f8f8f8f8"
        }
      }
    },
    "GenerateKeyResponse": {
      "type": "object",
      "properties": {
      "data": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The generated key",
            "example": "some-uuid-here-sxsw"
          }
        }
      },
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The key was successfully generated"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      }
    },
    "RevokeKeyResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The key was successfully revoked"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      }
    },
    "AllowKeyResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The key was successfully allowed"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      },
      "example": {
        "message": "The key was successfully allowed",
        "status": 200
      }
    },
    "DeleteKeyResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The key was successfully deleted"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      },
      "example": {
        "message": "The key was successfully deleted",
        "status": 200
      }
    },
    "AddWebhookResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the response",
          "example": "The webhook was successfully added"
        },
        "status": {
          "type": "string",
          "description": "The status of the response",
          "example": "success"
        }
      },
      "example": {
        "message": "The webhook was successfully added",
        "status": 201
      }
    },
    "AddWebhookBody": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to the webhook",
          "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        },
        "verify_token": {
          "type": "string",
          "description": "The token to be used to verify the webhook",
          "example": "dQw4w9WgXcQ"
        }
      }
    }
  }
}
