{
  "openapi": "3.0.3",
  "info": {
    "title": "Orchdio API",
    "description": "Orchdio API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.orchdio.dev"
    }
  ],
  "paths": {
    "/v1/{platform}/connect": {
      "get": {
        "description": "Returns the redirect URL for the platform in order to authenticate the user on the target platform",
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "description": "The platform to connect to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spotify",
                "deezer"
              ]
            }
          },
          {
            "name": "x-orchdio-public-key",
            "in": "header",
            "description": "The public key of the Orchdio server",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConnectResponse"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entity/convert": {
      "description": "Converts an entity from one platform to another. An entity can be a track or a playlist.",
      "post": {
        "requestBody": {
          "$ref": "#/components/requestBodies/ConvertEntityRequestBody"
        },
        "parameters": [
          {
            "name": "x-orchdio-public-key",
            "in": "header",
            "description": "The public key of the Orchdio server",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ConvertEntityResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/task/{task_id}": {
      "description": "Returns the status of a task",
      "get": {
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The ID of the task",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            }
          },
          {
            "name": "x-orchdio-public-key",
            "in": "header",
            "description": "The public key of the Orchdio server",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/TaskResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/app/new": {
      "description": "Create a new app",
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "description": "The auth token for the developer",
          "required": true,
          "schema": {
            "type": "string",
            "example": "Bearer token"
          }
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/CreateNewAppResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Fields passed during app creation",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the app",
                    "example": "My App"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the app",
                    "example": "My App Description"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "The redirect URI of the app",
                    "example": "https://myapp.com/callback"
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "The webhook URI of the app",
                    "example": "https://myapp.com/webhook"
                  }
                },
                "example": {
                  "name": "My Awesome App",
                  "description": "this is a very cool app",
                  "redirect_url": "https://webhook.site/9636e79e-52f0-4565-8c7b-9172e5160680",
                  "webhook_url": "https://webhook.site/9636e79e-52f0-4565-8c7b-9172e5160680"
                }
              }
            }
          }
        }
      }
    },
    "/v1/app/{app_id}": {
      "description": "Returns the details of an app",
      "get": {
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "The ID of the app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            }
          },
            {
              "name": "Authorization",
              "in": "header",
              "description": "The auth token for the developer",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer token"
              }
            }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/GetAppResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Update an app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "The ID of the app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The auth token for the developer",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer token"
            }
          }
        ],
        "requestBody": {
          "description": "Fields passed during app creation. Only the fields that need to be updated need to be passed",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the app",
                    "example": "My App"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the app",
                    "example": "My App Description"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "The redirect URI of the app",
                    "example": "https://myapp.com/callback"
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "The webhook URI of the app",
                    "example": "https://myapp.com/webhook"
                  }
                },
                "example": {
                  "name": "My Awesome App",
                  "description": "this is a very cool app",
                  "redirect_url": "https://webhook.site/9636e79e-52f0-4565-8c7b-9172e5160680",
                  "webhook_url": "https://webhook.site/9636e79e-52f0-4565-8c7b-9172e5160680"
                }
              }
            }
          }
        },
        "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                    "schema": {
                      "$ref": "#/components/responses/UpdateAppResponse"
                    }
                }
              }
            },
            "500": {
                "description": "Internal server error",
                "content": {
                "application/json": {
                    "schema": {
                    "$ref": "#/components/responses/ErrorResponse"
                    }
                }
                }
            },
            "401": {
                "description": "Unauthorized",
                "content": {
                "application/json": {
                    "schema": {
                    "$ref": "#/components/responses/ErrorResponse"
                    }
                  }
                }
            }
        }
      }
    },
    "/v1/app/{app_id}/keys": {
      "description": "Get the keys associated with the app",
      "parameters": [
        {
          "name": "app_id",
          "in": "path",
          "description": "The ID of the app",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
          }
        },
        {
          "name": "Authorization",
          "in": "header",
          "description": "The auth token for the developer",
          "required": true,
          "schema": {
            "type": "string",
            "example": "Bearer token"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/GetAppKeysResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "ConnectResponse": {
        "description": "The redirect URL for the platform in order to authenticate the user on the target platform",
        "content": {
          "application/json": {
            "schema": {
              "description": "The redirect URL for the platform in order to authenticate the user on the target platform",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://accounts.spotify.com/authorize?client_id=1901737ea993417b98959fefb66c98be&redirect_uri=https%3A%2F%2Fweb-production-2629.up.railway.app%2Fapi%2Fv1%2Fspotify%2Fauth&response_type=code&scope=user-read-private+user-library-read+playlist-read-private+playlist-read-collaborative+user-follow-read+playlist-modify-private+playlist-modify-public+user-read-email&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NzM1NjAyMjIsImlhdCI6MTY3MzU1OTYyMiwianRpIjoiMWZlODc2ZTItNjgzMS00OTFiLTk0NDAtYTM5NWZiYjg5OTIwIiwiYXBwX2lkIjoiOWNjMDM0NjQtY2YyOS00MDUwLWE1MjItYzI4NzJmMmE0MGFhIiwicmVkaXJlY3RfdXJsIjoiaHR0cHM6Ly96b292ZS54eXoiLCJwbGF0Zm9ybSI6InNwb3RpZnkiLCJhY3Rpb24iOnsicGF5bG9hZCI6bnVsbCwiYWN0aW9uIjoiYXBwX2F1dGgifX0.WWDwKmXMqZ8n039yTzgaQk0PxnM8Y_q3HozVGwlWTX0"
                    }
                  }
                },
                "message": {
                  "type": "string",
                  "example": "Redirect URL"
                },
                "status": {
                  "type": "integer",
                  "example": 200,
                  "description": "The HTTP status code"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "The error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Internal server error"
                },
                "status": {
                  "type": "integer",
                  "example": 500,
                  "description": "The HTTP status code"
                },
                "error": {
                  "type": "string",
                  "example": "Internal server error"
                }
              }
            }
          }
        }
      },
      "ConvertEntityResponse": {
        "description": "The converted entity",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "type": "object",
                  "description": "The converted track. This is returned if the entity is a track",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "payload": {
                          "$ref": "#/components/responses/PlatformsPayload"
                        },
                        "entity": {
                          "type": "string",
                          "description": "The type of entity. For a track, it would be track and playlist for a playlist",
                          "example": "track"
                        },
                        "short_url": {
                          "type": "string",
                          "example": "7ghZ7dFtp",
                          "maxLength": 10
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "description": "A playlist conversion response",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "12345678-1234-1234-1234-123456789012",
                          "description": "The ID of the playlist conversion task"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success",
                      "description": "The status of the request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Playlist conversion task created",
                      "description": "A message describing the status of the request"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "TaskResponse": {
        "description": "A playlist conversion task response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "12345678-1234-1234-1234-123456789012"
                    },
                    "payload": {
                      "oneOf": [
                        {
                          "$ref": "#/components/responses/TrackPayload"
                        },
                        {
                          "$ref": "#/components/responses/PlatformsPayload"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "example": "success",
                      "description": "The status of the request"
                    }
                  }
                }
              }
            },
            "example": {
              "data": {
                "task_id": "12345678-1234-1234-1234-123456789012",
                "payload": {
                  "spotify": {
                    "id": "7ghZ7dFtp",
                    "url": "https://open.spotify.com/playlist/7ghZ7dFtp?si=1234567890123456"
                  },
                  "deezer": {
                    "id": "123456789",
                    "url": "https://www.deezer.com/playlist/123456789"
                  },
                  "youtube": {
                    "id": "PL1234567890123456",
                    "url": "https://www.youtube.com/playlist?list=PL1234567890123456"
                  }
                }
              }
            }
          }
        }
      },
      "PlatformsPayload": {
        "description": "A payload containing a list of platforms",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "deezer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "title": {
                      "type": "string",
                      "example": "The Less I Know The Better"
                    },
                    "artists": {
                      "type": "array",
                      "example": [
                        "Tame Impala"
                      ]
                    },
                    "album": {
                      "type": "string",
                      "example": "Currents"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track, formatted as HH:MM:SS",
                      "example": "4:32"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://www.deezer.com/track/123456789"
                    },
                    "cover": {
                      "type": "string",
                      "example": "https://api.deezer.com/album/123456789/image"
                    }
                  }
                },
                "spotify": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "title": {
                      "type": "string",
                      "example": "The Less I Know The Better"
                    },
                    "artists": {
                      "type": "array",
                      "example": [
                        "Tame Impala"
                      ]
                    },
                    "album": {
                      "type": "string",
                      "example": "Currents"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track, formatted as HH:MM:SS",
                      "example": "4:32"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://open.spotify.com/track/123456789"
                    },
                    "cover": {
                      "type": "string",
                      "example": "https://i.scdn.co/image/123456789"
                    }
                  }
                },
                "tidal": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "title": {
                      "type": "string",
                      "example": "The Less I Know The Better"
                    },
                    "artists": {
                      "type": "array",
                      "example": [
                        "Tame Impala"
                      ]
                    },
                    "album": {
                      "type": "string",
                      "example": "Currents"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track, formatted as HH:MM:SS",
                      "example": "4:32"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://tidal.com/browse/track/123456789"
                    },
                    "cover": {
                      "type": "string",
                      "example": "https://resources.tidal.com/images/123456789/640x640.jpg"
                    }
                  }
                },
                "ytmusic": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "title": {
                      "type": "string",
                      "example": "The Less I Know The Better"
                    },
                    "artists": {
                      "type": "array",
                      "example": [
                        "Tame Impala"
                      ]
                    },
                    "album": {
                      "type": "string",
                      "example": "Currents"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track, formatted as HH:MM:SS",
                      "example": "4:32"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://music.youtube.com/watch?v=123456789"
                    },
                    "cover": {
                      "type": "string",
                      "example": "https://i.ytimg.com/vi/123456789/maxresdefault.jpg"
                    }
                  }
                },
                "applemusic": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "title": {
                      "type": "string",
                      "example": "The Less I Know The Better"
                    },
                    "artists": {
                      "type": "array",
                      "example": [
                        "Tame Impala"
                      ]
                    },
                    "album": {
                      "type": "string",
                      "example": "Currents"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration of the track, formatted as HH:MM:SS",
                      "example": "4:32"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://music.apple.com/us/album/the-less-i-know-the-better/123456789"
                    },
                    "cover": {
                      "type": "string",
                      "example": "https://is2-ssl.mzstatic.com/image/thumb/Music123456789/123456789/123456789.jpg/200x200bb.png"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TrackPayload": {
        "description": "A track payload",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "platforms": {
                  "$ref": "#/components/responses/PlatformsPayload"
                },
                "entity": {
                  "type": "string",
                  "example": "track"
                },
                "short_url": {
                  "type": "string",
                  "example": "TzrWfvoQ"
                }
              }
            }
          }
        }
      },
      "PlaylistPayload": {
        "description": "The payload for a playlist",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "length": {
                      "type": "string",
                      "description": "Duration of the playlist, formatted as HH:MM:SS",
                      "example": "01:23:45"
                    },
                    "title": {
                      "type": "string",
                      "example": "My Playlist"
                    },
                    "owner": {
                      "type": "string",
                      "example": "Obsidian Lover"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://open.spotify.com/playlist/123456789"
                    },
                    "cover": {
                      "type": "string",
                      "example": "https://i.scdn.co/image/123456789"
                    },
                    "short_url": {
                      "type": "string",
                      "example": "TzrWfvoQ"
                    }
                  }
                },
                "platforms": {
                  "$ref": "#/components/responses/PlatformsPayload"
                },
                "task_id": {
                  "type": "string",
                  "example": "123456789"
                },
                "entity": {
                  "type": "string",
                  "example": "playlist"
                }
              }
            }
          }
        }
      },

      "CreateNewAppResponse": {
        "description": "The response for creating a new app",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "format": "uuid",
                    "example": "12345678-1234-1234-1234-123456789012"
                },
                "message": {
                  "type": "string",
                  "example": "App created successfully"
                },
                "success": {
                  "type": "integer",
                  "example": 201,
                  "description": "The HTTP status code"
                }
              }
            }
          }
        }
      },
      "GetAppResponse": {
        "description": "Response for getting an app",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "app_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "12345678-1234-1234-1234-123456789012"
                    },
                    "authorized": {
                      "type": "boolean",
                      "example": true
                    },
                    "description": {
                      "type": "string",
                      "example": "The coolest app in the world."
                    },
                    "name": {
                      "type": "string",
                      "example": "My App"
                    },
                    "redirect_url": {
                      "type": "string",
                      "description": "The URL to redirect to after authentication",
                      "example": "https://myapp.com/callback"
                    },
                    "webhook_url": {
                      "type": "string",
                      "description": "The URL to which the webhook will be sent",
                      "example": "https://myapp.com/webhook"
                    }
                  }
                },
                "message": {
                  "type": "string",
                  "example": "App retrieved successfully"
                },
                "success": {
                  "type": "integer",
                  "example": 200,
                  "description": "The HTTP status code"
                }
              }
            }
          }
        }
      },
      "GetAppKeysResponse": {
        "description": "Fetch the app's keys",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "public_key": {
                  "type": "string",
                  "example": "xxxx-xxxx-xxxx-xxxx-xxxx",
                  "description": "The app's public key"
                },
                "secret_key": {
                  "type": "string",
                  "example": "xxxx-xxxx-xxxx-xxxx-xxxx",
                  "description": "The app's secret key"
                }
              }
            }
          }
        }
      },
      "UpdateAppResponse": {
        "description": "Update an app",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "App updated successfully"
                },
                "success": {
                  "type": "integer",
                  "example": 200,
                  "description": "The HTTP status code"
                }
              }
            }
          }
        }
      },

      "ConvertEntityRequestBody": {
        "description": "Convert an entity",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL of the entity to convert",
                  "example": "https://open.spotify.com/track/3Qm86XLflmIXVm1wcwkgDK?si=6a6e6f6d6e6f6f6d"
                }
              }
            }
          }
        }
      }
    },
    "requestBodies": {
        "CreateNewAppRequestBody": {
            "description": "Create a new app",
            "content": {
            "application/json": {
                "schema": {
                "type": "object",
                "properties": {
                    "name": {
                    "type": "string",
                    "example": "My App"
                    },
                    "description": {
                    "type": "string",
                    "example": "The coolest app in the world."
                    },
                    "redirect_url": {
                    "type": "string",
                    "description": "The URL to redirect to after authentication",
                    "example": "https://myapp.com/callback"
                    },
                    "webhook_url": {
                    "type": "string",
                    "description": "The URL to which the webhook will be sent",
                    "example": "https://myapp.com/webhook"
                    }
                }
                }
            }
            }
        },
        "UpdateAppRequestBody": {
            "description": "Update an app",
            "content": {
            "application/json": {
                "schema": {
                "type": "object",
                "properties": {
                    "name": {
                    "type": "string",
                    "example": "My App"
                    },
                    "description": {
                    "type": "string",
                    "example": "The coolest app in the world."
                    },
                    "redirect_url": {
                    "type": "string",
                    "description": "The URL to redirect to after authentication",
                    "example": "https://myapp.com/callback"
                    },
                    "webhook_url": {
                    "type": "string",
                    "description": "The URL to which the webhook will be sent",
                    "example": "https://myapp.com/webhook"
                    }
                }
                }
            }
            }
        },
        "ConvertEntityRequestBody": {
            "description": "Convert an entity",
            "content": {
            "application/json": {
                "schema": {
                "type": "object",
                "properties": {
                    "url": {
                    "type": "string",
                    "description": "The URL of the entity to convert",
                    "example": "https://open.spotify.com/track/3Qm86XLflmIXVm1wcwkgDK?si=6a6e6f6d6e6f6f6d"
                    }
                }
                }
            }
            }
        }
    }
  }
}
